body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: #eaeef2;
    -webkit-font-smoothing: antialiased;
}

.mt25 {
    margin-top: 25px;
}
.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.box {
    width: 100%;
    background: $bgclr;
}

.search {
    position: relative;

    svg {
        width: 24px;
        height: 24px;
        top: 8px;
        left: 8px;
        position: absolute;
    }

    input {
        background-color: transparent;
        border: 0;
        width: 100%;
        height: 40px;
        padding: 5px 5px 5px 50px;
        font-size: 16px;
        outline: none;
        font-weight: 600;
    }
}

.profilepic {
    width: 70px;
    height: 70px;
    float: left;

    img {
        width: 100%;
        overflow: hidden;
        border-radius: 50%;
    }
}

.profile {

    padding: 20px 25px 10px;
    @extend %full;

    .profiledet {
        width: calc(100% - 80px);
        float: left;
        padding: 0 10px;

        span:first-child {
            display: block;
            font-weight: 600;
            font-size: 18px;
            line-height: 2;
        }

        span:nth-child(2) {
            display: block;
            font-weight: 400;
            font-size: 14px;
        }
    }

    .profileedit {
        width: 10px;
        float: left;

        span {
            @extend %spandot;
            margin-bottom: 3px;
        }

        span:nth-child(3) {
            margin-bottom: 0;
        }
    }
}

.postconttxt {
    @extend %full;
    position: relative;
    padding: 10px 25px;

    >p {
        font-size: 18px;
        font-weight: 800;
        line-height: 25px;
        margin-bottom: 10px;
    }

    >a {
        font-size: 14px;
    }
}

.postcont {
    @extend %full;
    position: relative;

    img {
        width: 100%;
    }



    .postite {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        padding: 0 20px;

        h1 {
            font-size: 18px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 5px;
        }

        a {
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
        }
    }
}

.likes {
    @extend %full;
    padding: 0 25px;

    span {
        font-size: 14px;
        line-height: 3;
        display: inline-block;
        padding: 0 10px 0 0;
    }
}

.buttoncont {
    @extend %full;
    text-align: center;
    padding: 5px 0 15px;

    .buttons {
        padding: 8px 15px;
        font-weight: 600;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        margin: 0 3%;
        cursor: pointer;

        &:hover {
            background-color: #000000;
            border-color: #000000;
            color: #ffffff;
        }
    }
}

.commentcont {
    @extend %full;
    padding: 5px 25px;

    .commetpro {
        width: 50px;
        height: 50px;
        float: left;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    .commetbox {
        width: calc(100% - 60px);
        margin-left: 10px;
        margin-bottom: 15px;
        float: left;

        textarea {
            background-color: #f1f1f1;
            border: 0;
            resize: none;
            width: 100%;
            outline: none;
            padding: 10px;
            font-size: 14px;
            box-sizing: border-box;
            border-radius: 8px;
            font-weight: 600;
        }
    }
}

.addppl {
    @extend %full;
    padding: 20px 25px;
    position: relative;

    &:first-child:after {
        content: '';
        display: block;
        border-bottom: 2px solid #dddddd;
        position: absolute;
        bottom: 0;
        width: calc(100% - 50px);
    }


}

.addpplbtn {
    width: 50px;
    float: left;

    button {
        padding: 8px 15px;
        font-weight: 600;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
        margin: 10px 3%;
        position: relative;
        height: 40px;
        width: 40px;
        cursor: pointer;

        &:hover,
        &.active {
            border-color: #000;
            background-color: #000;
        }

        &:hover:before,
        &.active:before,
        &:hover:after,
        &.active:after {
            background-color: #fff;
        }

        &:before {
            width: 15px;
            height: 4px;
            content: '';
            display: inline-block;
            background-color: #000;
            position: absolute;
            top: 17px;
            left: 11px;
        }

        &:after {
            height: 15px;
            width: 4px;
            content: '';
            display: inline-block;
            background-color: #000;
            position: absolute;
            left: 16px;
            top: 11.7px;
        }

        &.miuns:after {
            display: none !important;
        }
    }
}

.addpplinfo {
    width: calc(100% - 50px);
    float: left;

    .addpplpic {
        width: 70px;
        height: 70px;
        overflow: hidden;
        float: left;
        position: relative;

        img {
            border-radius: 50%;
            width: 100%;
        }

        &:after{
            width: 17px;
            height: 17px;
            background-color: #ffffff;
            border-radius: 25px;
            content: '';
            position: absolute;
            bottom: 4px;
            right: 8px;
        }

        &:before{
            width: 13px;
            height: 13px;
            background-color: #00a44d;
            border-radius: 25px;
            content: '';
            position: absolute;
            bottom: 6px;
            right: 10px;
            z-index: 1;
        }
    }

    .addpplnam {
        width: calc(100% - 80px);
        margin-left: 10px;
        float: left;

        h2 {
            font-size: 22px;
            font-weight: 600;
            margin: 12px 0 4px;
        }
    }
}

.follower {
    border: 2px solid #dbdbdb;
    width: 90%;
    margin: 0 5%;
    float: left;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;


    .postcont {
        img {
            position: relative;
            top: 10px;
        }
    }

    .profiledet {
        width: calc(100% - 120px);
    }
    .postconttxt{
        p{
            margin-bottom:0;
        }
    }

}

.left {
    float: left;
}

.w100 {
    width: 100%;
}

.profilesing {
    background-color: #ffffff;
    border-radius: 8px;
    width: 48%;
    float: left;

    &:first-child {
        margin-right: 2%
    }

    &:nth-child(2) {
        margin-left: 2%
    }

    .addpplinfo {
        width: 100%;
    }

    .addpplpic {
        float: none;
        margin: 25px auto 10px;
        width:85px;
        height:85px;
    }

    .addpplnam {
        width: 100%;
        margin: 15px 0 30px;
        text-align: center;
    }
}

.addcmtmsg {
    width: 100%;
    padding: 10px 25px;
    float:left;

    img {
        width: 35px;
        height: 35px;
        border-radius: 25px;
        float: left;
        margin-right: 10px;
    }

    p {
        float: left;
        font-size:14px;
        line-height: 30px;
    }
}

.trending {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    position: relative;


    a {
        padding: 5px 10px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        position: absolute;
        text-decoration: none;
        top: 10px;
        left: 10px;
        z-index: 9;
    }

    .trendlink {
        width: 100%;
        position: absolute;
        bottom: 18px;
        height: 15px;
        padding: 5px 23px;

        a{
            width: 18%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.52);
            display: block;
            margin: 0 1%;
            border: 0;
            float: left;
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            top: unset;
            left: unset;
            overflow: hidden;

            &.active:after{
                content: '';
                width:100%;
                height: 100%;
                position: absolute;
                background-color: #ffffff;
            }
        }
    }

    ul {
        display: flex;
        white-space: nowrap;

        li {
            float: left;
            width: 350px;
            height: 200px;
            position: relative;
            transition: .2s;

            img {
                width: 350px;
            }

            .trendintit {
                position: absolute;
                bottom: 30px;
                width: 100%;
                padding: 5px 25px;

                h1 {
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: 600;
                    line-height: 25px;
                }

                p {
                    font-size: 12px;
                    color: #ffffff;
                }
            }
        }
    }
}